body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background: #2a7ae4;
    padding: 15px;
    color: white;
    text-align: center;
}

.container {
    padding: 20px;
}

a {
    text-decoration: none;
    background: #2a7ae4;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
